@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  padding: 0;
}

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }
    
    body {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
      margin: 0;
      padding: 1cm;
    }
    
    * {
      color: black !important;
    }

    .print-no-style {
      border: none !important;
      box-shadow: none !important;
    }

    @page {
      margin: 0;
      size: A4; 
    }

    body {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
      padding: 1cm;
    }
  }
}